.\otxovk
.\保護対象ファイル1.txt
.\gbirtb
.\zfjvyo
.\README.md
.\hmjbdy
.\reahqr
.\hoge.txt
.\exllhj
.\xyzjyh
.\cymqea
.\ufdyhj
新しいフォルダー/新しいテキスト ドキュメント.txt
.\保護対象ファイル2.txt
.\mfpzyv
.\sjxhgz
.\vkfkbv
新しいフォルダー/github_repository_commit_test
.\bzyyre
.\vgblrf
.\hcmhbg
.\.gitattributes
.\sxfkof
.\保護対象ファイル3.txt
.\tcdljb
.\dummy
.\qasnef
.\epvsgn